@model IEnumerable<TP01_2021_v2.Models.Livro>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>
    <a asp-action="Inserir">Registar livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Capa)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Capa)
            </td>*@
            <td>
                <a asp-action="Remover" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
