@model IEnumerable<TP01_2020_v2.Models.Carro>

@{
    ViewData["Title"] = "Index";
}

<h1>Só carrões aqui!</h1>

<p>
    <a asp-action="Inserir">Inserir Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <img src="~/Fotos/@item.Foto" width="200" height="100"/> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendido)
            </td>
            @if(item.Vendido != true)
            {
                <td>
                    <a asp-action="Comprar" asp-route-id="@item.Id">Comprar</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
